@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #1A936F;
  --color-primary-foreground: #ffffff;

  --color-secondary: #E9C46A;
  --color-secondary-foreground: #264653;

  --color-muted: #F3F4F6;
  --color-muted-foreground: #6B7280;

  --font-sans: var(--font-outfit);
}

:root {
  --background: #ffffff;
  --foreground: #264653;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}